
@import "tailwindcss";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100%;
    width: 100%;
    background-color: #FEFFF0;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

[data-scroll-container] {
    will-change: transform;
}

[data-scroll] {
    transition: transform 0.1s ease-out;
}